{% extends "common/base.html" %}

{% block head %}
<script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"
        integrity="sha384-Lh7SNUss9JoImCvc96eCUnLX3HvY4kb0UZCWZbYWvceJ+o5CJeOJqqNoheaGkNHT"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/Control.OSMGeocoder.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Control.OSMGeocoder.css') }}">
<link rel="stylesheet" 
      href="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css"
      integrity="sha384-99ZJFcuBCh9c/V/+8YwDX/TUGG8JWMG+gKFJWzk0BZP3IoDMN+pLGd3/H0yjg4oa"
      crossorigin="anonymous">
{% endblock %}

{% block title %}Cacophony{% endblock %}

{% block content %}
<div class="hidden">
<form id="select-point-form">
  <button class="btn btn-primary">Create new point</button>
</form>
</div>
<div id="mapid"></div>
{% endblock %}
