{% set nav_options = (
  ("core.read_map", "Home"),
  ("security.login", "Log in"),
) %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css"
          integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY"
          crossorigin="anonymous">
    <script
			  src="https://code.jquery.com/jquery-3.1.0.min.js"
			  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"
          integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD"
          crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-xs-right">
            {% for endpoint, name in nav_options %}
            <li class="nav-item">
              <a class="nav-link {% if endpoint == request.endpoint %}active{% endif%}"
                 href="{{ url_for(endpoint) }}">{{ name }}
                 {% if endpoint == request.endpoint %}
                 <span class="sr-only">(current)</span>
                 {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <h1 class="text-muted">Cacophony</h1>
      </div>
      <div class="row content">
        {% block content %}{% endblock %}
      </div>
      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
  </body>
</html>
